<?xml version="1.0" encoding="UTF-8" ?>
<checkstyle>

<file name="src/Strive.js">
  
</file>



<file name="src/Models.js">
  
  <error
    line="34"
    severity="info"
    message="Cyclomatic: 3,
    Halstead: 9.9000
    | Effort: 2970.0
    | Volume: 300.00
    | Vocabulary: 32"
    source="self.remove"
    />
  
  <error
    line="44"
    severity="info"
    message="Cyclomatic: 3,
    Halstead: 12.143
    | Effort: 1637.9
    | Volume: 134.89
    | Vocabulary: 17"
    source="self.getHabit"
    />
  
  <error
    line="70"
    severity="warning"
    message="Cyclomatic: 5,
    Halstead: 18.750
    | Effort: 6831.5
    | Volume: 364.35
    | Vocabulary: 29"
    source="self.recalculateAllStreaks"
    />
  
  <error
    line="105"
    severity="info"
    message="Cyclomatic: 1,
    Halstead: 10.421
    | Effort: 4508.8
    | Volume: 432.66
    | Vocabulary: 28"
    source="&lt;anonymous&gt;"
    />
  
  <error
    line="164"
    severity="info"
    message="Cyclomatic: 3,
    Halstead: 11.000
    | Effort: 1949.2
    | Volume: 177.20
    | Vocabulary: 20"
    source="self.remove"
    />
  
  <error
    line="173"
    severity="info"
    message="Cyclomatic: 2,
    Halstead: 8.0385
    | Effort: 1437.4
    | Volume: 178.81
    | Vocabulary: 24"
    source="self.hasDataPointToday"
    />
  
  <error
    line="182"
    severity="info"
    message="Cyclomatic: 3,
    Halstead: 12.143
    | Effort: 1637.9
    | Volume: 134.89
    | Vocabulary: 17"
    source="self.getMonitor"
    />
  
</file>



</checkstyle>
