
<html>
	<head>
		<title>Strive</title>

		<meta http-equiv="content-type" content="text/html; charset=UTF8">
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
		<meta name="viewport" content="width=device-width" />

		<link rel="stylesheet" href="styles/style.css">
		<link rel="shortcut icon" href="img/favicon.png" type="image/png">
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/fastclick/lib/fastclick.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/sync/src/Sync.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-filesystem/src/filesystem.js"></script>
		<script src="bower_components/hammerjs/hammer.js"></script>
		<script src="bower_components/angular-ui-router/angular-ui-router.min.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="bower_components/click-hide/ClickHide.js"></script>
		<script src="bower_components/ah-basement/Basement.js"></script>
		<script src="bower_components/Datejs/build/date.js"></script>
		<script src="bower_components/d3/d3.js" chartset="utf-8"></script>
		<script src="bower_components/nvd3/nv.d3.js"></script>
		<script src="bower_components/yepnope/yepnope.js"></script>
		<script src="bower_components/AngularSugar/AngularSugar.js"></script>
		<script src="libs/JsonStorage.js"></script>
		<script src="libs/syncmodels/HabitModelInterface.js"></script>
		<script src="libs/syncmodels/SyncAdapter.js"></script>


		<!-- Strive -->
		<script src="src/Strive.js"></script>
		<script src="src/models/HabitModel.js"></script>
		<script src="src/models/MonitorModel.js"></script>
		<script src="src/controllers/StriveCtrl.js"></script>
		<script src="src/StriveHelper.js"></script>
		<script src="src/controllers/MonitorCtrl.js"></script>
		<script src="src/controllers/HabitCtrl.js"></script>
		<script src="src/controllers/ArchiveCtrl.js"></script>
		<script src="src/user/User.js"></script>

	</head>
	<body ng-app="Strive" auto-top ng-csp ng-controller="StriveCtrl" >
		<div class="MainHeader">
			<div class="MainHeader-hamburger" ng-click="StateModel.basementOpen = !StateModel.basementOpen">
				<i class="Icon hamburger"></i>
			</div>
			<div class="MainHeader-title" ng-click="StateModel.basementOpen = !StateModel.basementOpen">{{ $state.current.name }}</div>
			<img class="MainHeader-logo" src="img/logo-strive-2x.png" alt="">
		</div>

		<div ui-view="main" class="MainContent">

		</div>

		<basement open="StateModel.basementOpen">
			<div ng-if="UserModel.user">
				{{ UserModel.user.email }}
			</div>
			<ul class="Basement-menu">
				<li as-touch-active class="Basement-menu-item" ng-click="switch('habits')">
					<i class="Basement-menu-item_active" class="Icon-circle-white" ng-if="$state.includes('habits')"></i>
					<span class="Basement-menu-item-name">Habits</span>
				</li>
				<li as-touch-active class="Basement-menu-item" ng-click="switch('monitors')">
					<i class="Basement-menu-item_active" ng-if="$state.includes('monitors')"></i>
					<span class="Basement-menu-item-name">Monitors</span>
				</li>
				<li as-touch-active class="Basement-menu-item" ng-click="switch('archived')">
					<i class="Basement-menu-item_active" ng-if="$state.includes('archived')"></i>
					<span class="Basement-menu-item-name">Archived</span>
				</li>
				<li as-touch-active class="Basement-menu-item" ng-click="UserModel.showUserLogin = true">
					<span class="Basement-menu-item-name">Login</span>
				</li>
				<li >
					<span style="font-size: 12px; color: #999; margin: 10px; float: right;">v0.3.2</span>
				</li>
			</ul>
		</basement>

		<div ng-include="'src/user/login-signup.html'" ng-if="UserModel.showUserLogin" ng-controller="LoginCtrl">

		</div>
	</body>
</html>
