
<html>
	<head>
		<title>Strive</title>

		<meta http-equiv="content-type" content="text/html; charset=UTF8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 user-scalable=0' name='viewport' />

		<link rel="stylesheet" href="styles/style.css">
		<link rel="shortcut icon" href="img/favicon.png" type="image/png">
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/fastclick/lib/fastclick.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/AngularSugar/AngularSugar.js"></script>
		<script src="bower_components/sync/src/Sync.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-filesystem/src/filesystem.js"></script>
		<script src="bower_components/hammerjs/hammer.js"></script>
		<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="bower_components/click-hide/ClickHide.js"></script>
		<script src="bower_components/ah-basement/Basement.js"></script>
		<script src="bower_components/Datejs/build/date.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>
		<script src="bower_components/d3/d3.js" chartset="utf-8"></script>
		<script src="bower_components/nvd3/nv.d3.js"></script>
		<script src="bower_components/yepnope/yepnope.js"></script>
		<script src="bower_components/angular-uuid-service/uuid-svc.min.js"></script>
		<script src="libs/JsonStorage.js"></script>


		<script src="libs/Tip.js"></script>
		<script src="src/modules/OnBoarding.js"></script>
		<script src="libs/sync-model/SyncModel.js"></script>

		<!-- Strive -->
		<script src="src/Strive.js"></script>
		<script src="src/models/HabitModel.js"></script>
		<script src="src/modules/monitor/Monitor.js"></script>
		<script src="src/modules/recipe/Recipe.js"></script>
		
		<script src="src/controllers/StriveCtrl.js"></script>
		<script src="src/StriveHelper.js"></script>
		<script src="src/controllers/MonitorCtrl.js"></script>
		<script src="src/controllers/RecipeCtrl.js"></script>
		<script src="src/controllers/HabitCtrl.js"></script>
		<script src="src/controllers/ArchiveCtrl.js"></script>
		<script src="src/User/User.js"></script>

	</head>
	<body ng-app="Strive" auto-top ng-csp ng-controller="StriveCtrl" >
		<div class="MainHeader">
			<div class="MainHeader-hamburger" ng-click="StateModel.basementOpen = !StateModel.basementOpen">
				<i class="Icon hamburger"></i>
			</div>
			<div class="MainHeader-title" ng-click="StateModel.basementOpen = !StateModel.basementOpen">{{ $state.current.name }}</div>
			<img class="MainHeader-logo" src="img/logo-strive-2x.png" alt="">
		</div>
		<div ui-view="main" class="MainContent">

		</div>

		<basement open="StateModel.basementOpen">
			<ul class="Basement-menu">
				<li class="Basement-menu-item L-hbox L-hbox-vcenter" ng-if="UserModel.user">
					<i ng-class="{'Icon-circle-green': UserModel.user.authorized, 'Icon-circle-red':!UserModel.user.authorized  }" style="margin-right:10px"></i>
					<div class="Basement-menu-item-name">{{ UserModel.user.email }}</div>
					<div class="L-spacer"></div>
					<i class="Icon" ng-class="{unsynced: TransactionModel.transactions.length > 0, synced: !(TransactionModel.transactions.length > 0)}"></i>
				</li>
				<li as-touch-active class="Basement-menu-item" ng-click="switch('habits')">
					<i class="Basement-menu-item_active" class="Icon-circle-white" ng-if="$state.includes('habits')"></i>
					<span class="Basement-menu-item-name">Habits</span>
				</li>
				<li as-touch-active class="Basement-menu-item" ng-click="switch('monitors')">
					<i class="Basement-menu-item_active" ng-if="$state.includes('monitors')"></i>
					<span class="Basement-menu-item-name">Monitors</span>
				</li>
				<li as-touch-active class="Basement-menu-item" ng-click="switch('archived')">
					<i class="Basement-menu-item_active" ng-if="$state.includes('archived')"></i>
					<span class="Basement-menu-item-name">Archived</span>
				</li>
				<li as-touch-active class="Basement-menu-item" ng-click="switch('recipes')">
					<i class="Basement-menu-item_active" ng-if="$state.includes('recipes')"></i>
					<span class="Basement-menu-item-name">recipes</span>
				</li>
				<li as-touch-active class="Basement-menu-item" ng-if="!UserModel.user || !UserModel.user.authorized" ng-click="UserModel.showUserLogin = true">
					<span class="Basement-menu-item-name">Login</span>
				</li>
				<li as-touch-active class="Basement-menu-item" ng-if="UserModel.user" ng-click="sync()">
					<span class="Basement-menu-item-name">Sync</span>
				</li>
				<li as-touch-active class="Basement-menu-item" ng-if="UserModel.user" >
					<span class="Basement-menu-item-name" ng-click="basementState.logoutPopup = true">Logout</span>
					{{ logoutPopup }}
					<div class="Basement-confirm" ng-if="basementState.logoutPopup">
						<div>Orly? Unsynced data will be lost.</div>
						<button	class="L-center Btn Btn-lilly Btn_small dark" ng-click="logoutConfirm($event, false)">Cancel</button>

						<button	class="L-center Btn Btn-lilly Btn_small dark" ng-click="logout()">Yrly, log me out.</button>
					</div>
				</li>
				<li>
					<span style="font-size: 12px; color: #999; margin: 10px; float: right;">v0.4.4</span>
				</li>
			</ul>
		</basement>

		<div ng-include="'src/User/login-signup.html'" class="LoginContainer" ng-controller="LoginCtrl">

		</div>
	</body>
</html>
