<div>

    <div>
        <div tip="recipe-tip" btn-text="Good to know" class="Tip">
            <div class="Tip-title">Recipes are grouped monitors and habits</div>
            You can group monitors and habits into neat little packages that act
            as simple recipes for a working habit. Recipes can also be <b>shared</b> to other
            users through the publish button.
        </div>
        
        <div class="L-vbox-10 MainList">
            <div class="ListItem" ng-repeat="recipe in RecipeModel.recipes | filter: archived">    
                <recipe recipe="recipe" edit-recipe="editRecipe"></recipe>
            </div>
        </div>
        <div class="MainInput">
            <div class="MainInput-inner Box-reg Box_round L-hbox">
                <button class="Btn-alt Btn_medium MainInput-btn L-hbox-1" ng-click="showCreateRecipe()">Create Recipe</button>
            </div>
        </div>
    </div>

</div>