<div>
    <div tip="monitors-tip" btn-text="Monitors, got it" class="Tip">
        <div>
            <div class="Tip-title">How do I know if a habit works?</div>
            <p class="Tip-text">Why, funny that you should ask. That is what we have monitors for.</p>

        </div>
        <p class="Tip-fine-text">
            <b>Monitors</b> are used to track a specific measurable data point over a time. For example: a weight loosing habit might be “Run 10 minutes a day” and the corresponding monitor would be “Weigh in” - to track your weight. </p>
        </p>
        <p class="Tip-fine-text">
            This way we make sure our habits actually works.
        </p>
    </div>
    <ul class="L-vbox-15 MainList">
        <li class="ListItem Box-ali"  ng-class="{'ListItem_selected': monitor.selected}" ng-repeat="monitor in MonitorModel.monitors">
            <monitor monitor="monitor"></monitor>
        </li>
    </ul>
    
    <div class="MainInput">
        <div class="MainInput-inner Box-reg Box_round L-hbox">
            <input class="L-hbox-1 Input-reg MainInput-input-name" placeholder="Monitor" type="text" ng-model="vm.newMonitor.name">
            <button class="Btn-alt Btn_medium MainInput-btn" ng-click="createMonitor(vm.newMonitor)">Add</button>
        </div>
    </div>
</div>