<div>

    <div>
        <div tip="recipe-tip" class="Tip">
            <div>
                <div class="Tip-title">Recipes</div>
                <p class="Tip-text">Recipes are interesting</p>
            </div>
            <div class="Tip-footer">
                <button class="Tip-close" ng-click="closeTip()">Right...</button>
            </div>
        </div>
        
        <div class"L-vbox-10">
            <div class="ListItem" ng-repeat="recipe in RecipeModel.recipes">    
                <div class="ListItem-name">
                    {{ recipe.name }}
                </div>
                <div>
                    <ul>
                        <li ng-repeat="habit in recipe.habits">{{ habit.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="MainInput">
            <div class="MainInput-inner Box-reg Box_round L-hbox">
                <button class="Btn-alt Btn_medium MainInput-btn L-hbox-1" ng-click="showCreateRecipe()">Create Recipe</button>
            </div>
        </div>
    </div>

</div>