<div>

    <div tip="habit-tip" btn-text="Right..." class="Tip">
        <div>
            <div class="Tip-title">Habits</div>
            <p class="Tip-text">The trick to habits is to have them be as effortless as possible. Now go forth!</p>
        </div>
    </div>

    <div tip="first-habit-tip" btn-text="Tick when done, alright" class="Tip">
        <div>
            <div class="Tip-title">First!</div>
            <p class="Tip-text">Cool, now you have your first daily habit. Tick the checkmark once it’s done.</p>
        </div>
    </div>

    <div tip="first-tick-tip" btn-text="Loud and clear!" class="Tip">
        <div>
            <div class="Tip-title">First!</div>
            <p class="Tip-text">Good job! See that number? That’s your streak.</p>

        </div>
        <p class="Tip-fine-text"><b>Warning</b> Your habit must be ticked between 00.00 and 23.59 for it to count. If you miss a ticking a daily habit your streak is gone.</p>
    </div>

    <ul class="L-vbox-15 MainList">
        
        
        <li class="ListItem" ng-class="{'ListItem_selected': habit.selected}" ng-repeat="habit in HabitModel.habits | filter:filterArchived">        
            <habit habit="habit"></habit>            
        </li>

    </ul>
    <div class="MainInput">
        <div class="MainInput-inner Box-reg Box_round L-hbox">
            <input class="L-hbox-1 Input-reg MainInput-input-name" placeholder="Daily Habit" type="text" ng-model="HabitModel.newHabit.name">
            <button class="Btn-alt Btn_medium MainInput-btn" ng-click="createHabit(HabitModel.newHabit)">Add</button>
        </div>
    </div>
</div>