<div>
    <ul class="L-vbox-15">
        <li class="Monitor Box-ali" ng-repeat="monitor in MonitorModel.monitors">
            
        </li>
    </ul>
    
    <div class="MainInput">
        <div class="MainInput-inner Box-reg Box_round L-hbox">
            <input class="L-hbox-1 Input-reg MainInput-input-name" placeholder="Monitor" type="text" ng-model="newMonitor.name">
            <button class="Btn-alt Btn_medium MainInput-btn" ng-click="createMonitor(newMonitor)">Add</button>
        </div>
    </div>
</div>