<div class="Login">

	<div ng-if="noti" class="Noti" 
		 ng-class="{'Noti_error': noti.type == 'error', 'Noti_success': noti.type == 'success', 'Noti_progress': noti.type == 'progress'}">
		 	{{ noti.text }}
	</div>

	<div class="L-center">
		<i class="Icon-strive"></i>
	</div>
	
	<div class="Login-inputs">
		<input type="text" class="Input-alt Input_-medium" placeholder="Email" ng-model="loginUser.email">
		<input type="text" class="Input-alt Input_-medium" placeholder="Password" ng-model="loginUser.password">
		<button class="Btn-reg" ng-click="login(loginUser)">Login</button>
		<button class="Btn-lilly" ng-click="signup(loginUser)">Signup</button>
	</div>
</div>