<html>
   <head>
      <title>Angular Sync Demo</title>
      <script type="text/javascript" src="bower_components/angular/angular.js" ></script>
      <script type="text/javascript" src="bower_components/AngularSugar/AngularSugar.js" ></script>
      <script type="text/javascript" src="../src/Sync.js" ></script>
      <script type="text/javascript" src="Demo.js" ></script>
   </head>
   <body ng-app="Demo" ng-controller="DemoCtrl">
      
      <input type="text" ng-model="newRequest.method">
      <input type="text" ng-model="newRequest.url">
      <input type="text" ng-model="newRequest.data">
      <button ng-click="batch(newRequest)">Batch</button>

      <h2>Request buffer</h2>
      <ul>
         <li ng-repeat="request in RequestModel.requests">
            {{ request.method }} {{ request.url }} {{ request.data }}
         </li>
      </ul>
      <button ng-click="flush()">Flush</button>

      <h2>Down sync data</h2>
      <div>
         {{ downsync.data }}
      </div>
      <button ng-click="addHabit('name', 'description')">Add habit</button>
      <button ng-click="editHabit('1234')">Edit habit</button>
      <button ng-click="clearAll()">Clear All</button>

      <h2>Habits</h2>

	  <input type="text" ng-model="habitName" ><button ng-click="addHabit(habitName)">Add habit</button>
      <ul>
      	<li ng-repeat="habit in habits">
      		<div ng-if="!habit.isEditable">
      			{{ habit.name }} - {{ habit.description }} -  {{habit.ticks.length}}
      			<button ng-click="habit.isEditable = true">Edit</button>
      			<button ng-click="tickHabit(habit)">TIck!</button>
      			
      			<button ng-click="removeHabit(habit.id)">remove</button>
      		</div>
			<div ng-if="habit.isEditable">
				<input type="text" ng-model="habit.name">
				<input type="text" ng-model="habit.description">
				<button ng-click="saveHabit(habit); habit.isEditable = false">Save</button>
			</div>	
      	</li>
      </ul>
   </body>
</html>
