<div>
    <div as-touch-active class="ListItem-head L-hbox">
        <button class="Btn_icon Btn_medium ListItem-edit" ng-click="toggleEditMode( habit )" ng-if="habit.selected">
            <i class="Icon edit" ng-class="{ edit: !habit.isEditable, save: habit.isEditable }"></i>
        </button>
        <div class="L-hbox-1 ListItem-name" ng-if="!habit.isEditable" ng-click="selectHabit(habit)">
            <span>{{ habit.name }}</span>
        </div>
        <div class="L-hbox-1 ListItem-name" ng-if="habit.isEditable">
            <input placeholder="Habit name" type="text" class="Input-alt T-50 T-alt" ng-model="habit.name">
        </div>

        <!-- Fancy pancy flip thingy if we're in a chrome environment -->
        <div ng-if="StateModel.isChrome">
            <div class="Flip-container">
                <div class="Flip-inner" ng-class="{switched: isTickedToday(habit)}">
                    <div class="Box_medium Flip-front Btn-reg Btn_icon" ng-click="tickHabit(habit.id)">
                        <i class="Icon checkmark-gray"></i>
                    </div>
                    <div class="Flip-back Box_medium">
                        <div class="IconText IconText_medium">
                            <i class="Icon flame-{{ StriveHelper.getStreakIcon(habit.streak); }} IconText-icon"></i>
                            <div class="IconText-text">{{ habit.streak }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="isTickedToday(habit) && !StateModel.isChrome" class="Box_medium">
            <div class="IconText IconText_medium">
                <i class="Icon flame-{{ StriveHelper.getStreakIcon(habit.streak); }} IconText-icon"></i>
                <div class="IconText-text">{{ habit.streak }}</div>
            </div>
        </div>
        <button ng-if="!isTickedToday(habit) && !StateModel.isChrome" ng-click="tickHabit(habit.id)" class="Btn-reg Btn_icon Btn_medium Habit-tick"><i class="Icon checkmark-gray"></i>
        </button>
    </div>

    <div class="ListItem-meta" ng-if="habit.selected">
        <div class="ListItem-meta-section">
            <div class="L-hbox L-hbox-sep15">
                <div ng-if="!habit.isEditable" class="L-hbox-1">
                    <remarkable text="habit.description"></remarkable>
                    <span ng-if="!habit.description" ng-click="toggleEditMode(habit)">Add description</span>
                </div>
                <div ng-if="habit.ticks.length > 0 && !habit.isEditable">
                    <div class="HabitRecord">
                        <div class="HabitRecord-record IconText IconText_medium">
                            <i class="Icon flame-{{ StriveHelper.getStreakIcon( StriveHelper.newCalcStreakRecord(habit.ticks) ); }} IconText-icon"></i>
                            <div class="IconText-text">{{ StriveHelper.newCalcStreakRecord(habit.ticks) }}</div>
                        </div>
                        <div class="HabitRecord-label">Record</div>
                    </div>
                </div>
            </div>
            <div ng-if="habit.isEditable" class="L-hbox">
                <textarea class="Input-textarea L-hbox-1" placeholder="Describe it" type="text" ng-model="habit.description"></textarea>
            </div>
        </div>
        <div class="ListItem-meta-section" ng-if="!habit.isEditable">
            <div class="L-hbox L-hbox-sep10">
                <button ng-click="habit.confirmDelete = true" ng-if="!habit.confirmDelete" class="Btn lilly">Delete Habit</button>
                <button ng-if="!habit.isArchived" ng-click="archive(habit)" class="Btn lilly">Archive Habit</button>
                <button ng-if="habit.isArchived" ng-click="unArchive(habit)" class="Btn lilly">Un-Archive Habit</button>
            </div>
        </div>

        <div ng-if="habit.confirmDelete" class="ListItem-meta-section">
            <h2 class="Head medium">Whoa there cowboy!</h2>
            <div class="L-vbox-15">
                <p class="Para small">Deleting this habit will erase all the streaks you've earned. Really dude?</p>
                <div class="L-hbox">
                    <button class="Btn lilly" ng-click="habit.confirmDelete = false">Cancel</button>
                    <div class="L-spacer"></div>
                    <button class="Btn lilly" ng-click="removeHabit(habit)">Got it - Delete</button>
                </div>
            </div>
        </div>

    </div>

</div>
