<div class="CreateRecipe L-vbox-20">
    
    <div>
        <div class="CreateRecipe-subtitle">Be creative</div>
        <div class="ListItem">    
            <div class="ListItem-name">
                <input class="Input kalle CreateRecipe-name-input" placeholder="Recipe name" ng-model="recipe.name">
            </div>
        </div>
    </div>

    <div >
        <div class="CreateRecipe-subtitle">Choose habits</div> 
        <div class="CreateRecipe-select-wrapper">
            <div ng-click="habit.recipeSelected = !habit.recipeSelected" class="FullCheckbox L-hbox L-hbox-sep10" ng-class="{'FullCheckbox-selected': habit.recipeSelected}" ng-repeat="habit in habits | filter: nonArchived">
                <i ng-class="{'Icon checkmark-circle-unchecked-gray': !habit.recipeSelected, 'Icon checkmark-circle-checked-gray': habit.recipeSelected}"></i>
                <div>{{habit.name}}</div>
            </div>
        </div>
    </div>
    <div>
        <div class="CreateRecipe-subtitle">Choose monitors</div>
        <div class="CreateRecipe-select-wrapper">
            <div ng-click="monitor.recipeSelected = !monitor.recipeSelected" class="FullCheckbox L-hbox L-hbox-sep10" ng-class="{'FullCheckbox-selected': monitor.recipeSelected}" ng-repeat="monitor in monitors | filter: nonArchived">
                <i ng-class="{'Icon checkmark-circle-unchecked-gray': !monitor.recipeSelected, 'Icon checkmark-circle-checked-gray': monitor.recipeSelected}"></i>
                <div>{{monitor.name}}</div>
            </div>
        </div>
    </div>
    <div>
        <div class="CreateRecipe-subtitle">Describe, instruct, envangalize.</div>
        <div class="ListItem">
            <div class="ListItem-name">
                <textarea type="text" placeholder="Describe the recipe..." class="Input-reg CreateRecipe-description" ng-model="recipe.description"> </textarea> 
            </div>
        </div>
    </div>
    
    <div class="Indent-10-20">
        <button class="Btn blacky" ng-click="saveRecipe(recipe)"><span ng-bind="submitLabel"></span> Recipe</button>
    </div>
    
</div>