<div>    
    <div class="ListItem-name Recipe-title" ng-click="toggleDescription()">
        <button class="Btn_icon Btn_medium ListItem-edit" ng-click="edit(recipe)" style="float:left; position:relative; top:-3px; left: -24px;" ng-if="recipe.selected">
            <i class="Icon edit"></i>
        </button>
        <div>
            <i class="Icon published-gray" ng-show="recipe.published" style="float: left; margin-top: 6px;"></i>
            <span ng-bind="recipe.name"></span>
        </div>
    </div>

    <div class="ListItem-meta" ng-if="recipe.selected">
        <div class="ListItem-meta-section">
            {{ recipe.description }}
        </div>
        <div class="ListItem-meta-section">
            <button class="Btn lilly" ng-click="recipe.confirmDelete = true">Remove</button>
            <button class="Btn lilly" ng-if="!recipe.published" ng-click="publish(recipe)">Publish</button>
            <button class="Btn lilly" ng-if="recipe.published" ng-click="unPublish(recipe)">Un-Publish</button>
            <button class="Btn lilly" ng-if="!recipe.archived" ng-click="archive(recipe)">Archive</button>
            <button class="Btn lilly" ng-if="recipe.archived" ng-click="unArchive(recipe)">Un-Archive</button>
        </div>
        <div ng-if="recipe.confirmDelete" class="ListItem-meta-section">
            <h2 class="Head medium">Holdup!</h2>
            <div class="L-vbox-15">
                <p class="Para small">Deleting this recipe will erase all data related to it - except the habits and monitors. Art thou sureth?</p>
                <div class="L-hbox">
                    <button class="Btn lilly" ng-click="recipe.confirmDelete = false">Cancel</button>
                    <div class="L-spacer"></div>
                    <button class="Btn lilly" ng-click="removeRecipe(recipe)">Yes - Remove</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <ul class="List_bordered" >
            <li ng-repeat="habit in recipe.habits" >
                <habit habit="habit"></habit>
            </li>
            <li ng-repeat="monitor in recipe.monitors" style="">
                <monitor monitor="monitor"></monitor>
            </li>
        </ul>
    </div>
</div>
